.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.navBar {
  display: flex;
  position: sticky;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  background: #ffffffd1;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navBar {
    justify-content: space-between;
  }
}
.logoContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.navItem__qysbh:global(.__wab_instance) {
  position: relative;
}
.icon {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.navItems {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.navItem__pN3Ie:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navItem__pN3Ie:global(.__wab_instance) {
    display: none;
  }
}
.svg__hwLmf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.navItem___0Q6Wx:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navItem___0Q6Wx:global(.__wab_instance) {
    display: none;
  }
}
.text__sqO1K {
  height: auto;
}
.navItem__cpRm:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navItem__cpRm:global(.__wab_instance) {
    display: none;
  }
}
.svg__cYuGb {
  position: relative;
  object-fit: cover;
  height: 30px;
  width: 30px;
}
.navItem__rxXdp:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navItem__rxXdp:global(.__wab_instance) {
    display: none;
  }
}
.svg__xU3Tv {
  position: relative;
  object-fit: cover;
  height: 30px;
  width: 30px;
}
.navItem__mf2H3:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navItem__mf2H3:global(.__wab_instance) {
    display: none;
  }
}
.svg__exvWk {
  position: relative;
  object-fit: cover;
  height: 30px;
  width: 30px;
}
.navItem___0AXn:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navItem___0AXn:global(.__wab_instance) {
    display: none;
  }
}
.svg__y4MV7 {
  position: relative;
  object-fit: cover;
  height: 30px;
  width: 30px;
}
.navItem__vshqK:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navItem__vshqK:global(.__wab_instance) {
    display: none;
  }
}
.svg___26MyX {
  position: relative;
  object-fit: cover;
  height: 30px;
  width: 30px;
}
.navItem___9TVtc:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navItem___9TVtc:global(.__wab_instance) {
    display: none;
  }
}
.svg__gwtno {
  position: relative;
  object-fit: cover;
  height: 30px;
  width: 30px;
}
.navItem___53Mfm:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navItem___53Mfm:global(.__wab_instance) {
    display: none;
  }
}
.svg__zlZsK {
  position: relative;
  object-fit: cover;
  height: 30px;
  width: 30px;
}
.navItem__fIlml:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navItem__fIlml:global(.__wab_instance) {
    display: none;
  }
}
.text__iTJpW {
  padding-right: 0px;
}
.svg__ivCs6 {
  position: relative;
  object-fit: cover;
  height: 30px;
  width: 30px;
}
.navItem__bGpva:global(.__wab_instance) {
  position: relative;
}
.icon10 {
  position: relative;
  object-fit: cover;
  height: 20px;
}
.navItem__terc7:global(.__wab_instance) {
  position: relative;
}
.icon11 {
  position: relative;
  object-fit: cover;
  height: 20px;
}
.navItem__kwqAp:global(.__wab_instance) {
  position: relative;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navItem__kwqAp:global(.__wab_instance) {
    display: flex;
  }
}
.icon30 {
  position: relative;
  object-fit: cover;
  height: 20px;
}
.navItemDetails:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.freeBox__d37S0 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.freeBox__d37S0 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__d37S0 > :global(.__wab_flex-container) > *,
.freeBox__d37S0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__d37S0 > :global(.__wab_flex-container) > picture > img,
.freeBox__d37S0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.productDisplay__rBzlm:global(.__wab_instance) {
  position: relative;
  height: var(--token-JaJsJFEERnF1);
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productDisplay__rBzlm:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.h2 {
  font-family: "Abel", sans-serif;
  font-weight: 400;
}
.text___6P1Jd {
  font-family: var(--MyCustomFont);
}
.button__xEjw:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.icon12 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.button__ihNyf:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.icon13 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.productDisplay__iBocD:global(.__wab_instance) {
  position: relative;
  height: var(--token-JaJsJFEERnF1);
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productDisplay__iBocD:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.button__wKhPt:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__go1Mk {
  color: var(--token-aBVmJMA4MOP2);
}
.icon14 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.button__tKrhf:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__qcTu {
  color: var(--token-aBVmJMA4MOP2);
}
.icon15 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.productDisplay__oJotu:global(.__wab_instance) {
  position: relative;
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productDisplay__oJotu:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.text__vNauh {
  padding-top: 0px;
}
.button___9Bn2A:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.icon16 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.button___8S6I1:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.icon17 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.freeBox__wVIql {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.freeBox__wVIql > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__wVIql > :global(.__wab_flex-container) > *,
.freeBox__wVIql > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wVIql > :global(.__wab_flex-container) > picture > img,
.freeBox__wVIql
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wVIql {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wVIql > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wVIql > :global(.__wab_flex-container) > *,
  .freeBox__wVIql > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__wVIql > :global(.__wab_flex-container) > picture > img,
  .freeBox__wVIql
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.productDisplay__ouO7J:global(.__wab_instance) {
  position: relative;
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productDisplay__ouO7J:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.text___3MMJ {
  padding-top: 0px;
}
.button__pmn8A:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.icon18 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.button__yM9Fy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.icon19 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.productDisplay__zmTpn:global(.__wab_instance) {
  position: relative;
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productDisplay__zmTpn:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.freeBox__uaEhb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 13px;
  min-width: 0;
  padding: 8px;
}
.freeBox__l05Bq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: stretch;
  min-width: 0;
  padding: 8px;
}
.svg__y6JhU {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.text__ap0Po {
  padding-bottom: 0px;
}
.text__omAxq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #d80c0c;
  font-size: 20px;
  min-width: 0;
}
.text__wu65W {
  padding-top: 0px;
}
.button___678Iy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__kVzJ8 {
  color: var(--token-aBVmJMA4MOP2);
}
.icon20 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.button__uloNq:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text___0Sc5R {
  color: var(--token-aBVmJMA4MOP2);
}
.icon21 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.freeBox__eYph4 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  height: auto;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.freeBox__eYph4 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__eYph4 > :global(.__wab_flex-container) > *,
.freeBox__eYph4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eYph4 > :global(.__wab_flex-container) > picture > img,
.freeBox__eYph4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eYph4 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eYph4 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eYph4 > :global(.__wab_flex-container) > *,
  .freeBox__eYph4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__eYph4 > :global(.__wab_flex-container) > picture > img,
  .freeBox__eYph4
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.productDisplay__xABb7:global(.__wab_instance) {
  position: relative;
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productDisplay__xABb7:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.freeBox__h8OiG {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: stretch;
  min-width: 0;
  padding: 8px;
}
.svg__j5Xz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.text__bvfu7 {
  padding-bottom: 0px;
}
.text__iwU3P {
  padding-top: 0px;
}
.button__sDkok:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.icon22 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.productDisplay___6ULt1:global(.__wab_instance) {
  position: relative;
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productDisplay___6ULt1:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.freeBox__uhkYf {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: stretch;
  min-width: 0;
  padding: 8px;
}
.svg__aWaxZ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.text__lluFh {
  padding-bottom: 0px;
}
.text__rta0E {
  padding-top: 0px;
}
.button__ziZp:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.icon24 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.freeBox___2F6L3 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.freeBox___2F6L3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___2F6L3 > :global(.__wab_flex-container) > *,
.freeBox___2F6L3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2F6L3 > :global(.__wab_flex-container) > picture > img,
.freeBox___2F6L3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2F6L3 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2F6L3 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2F6L3 > :global(.__wab_flex-container) > *,
  .freeBox___2F6L3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___2F6L3 > :global(.__wab_flex-container) > picture > img,
  .freeBox___2F6L3
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.productDisplay__d4Dbl:global(.__wab_instance) {
  position: relative;
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productDisplay__d4Dbl:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.freeBox__yzDf8 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: stretch;
  min-width: 0;
  padding: 8px;
}
.svg__sOVuR {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.text__cvS6Y {
  padding-bottom: 0px;
}
.text__sPaHb {
  padding-top: 0px;
  padding-left: 0px;
}
.button__vXctb:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.icon26 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.productDisplay__z9XEl:global(.__wab_instance) {
  position: relative;
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productDisplay__z9XEl:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.freeBox__vdzLa {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: stretch;
  min-width: 0;
  padding: 8px;
}
.svg__lOWpE {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.text__usCOd {
  padding-bottom: 0px;
  padding-left: 0px;
}
.text__bbJzn {
  padding-top: 0px;
  padding-left: 0px;
}
.button__nApA6:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.icon28 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.button__lzrP8:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.icon29 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.cmsDataFetcher__yvOQq:global(.__wab_instance) {
  width: 100%;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.sliderCarousel:global(.__wab_instance) {
  width: 1155px;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  position: relative;
}
.freeBox___33Mt4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.tvPlusGalleryItem:global(.__wab_instance) {
  width: 100%;
  height: auto;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .tvPlusGalleryItem:global(.__wab_instance) {
    height: 586px;
    flex-shrink: 0;
  }
}
.text__jgz3Q {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__z5VJa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.footer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-5Fzgu1HLFv4v);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 16px 35px;
}
.notes {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.notes > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-twsx1YDb_FO4));
  height: calc(100% + var(--token-twsx1YDb_FO4));
}
.notes > :global(.__wab_flex-container) > *,
.notes > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.notes > :global(.__wab_flex-container) > picture > img,
.notes > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: var(--token-twsx1YDb_FO4);
}
.text__e6FqU {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-NQ6qYEoxiV_E);
  padding-bottom: 0px;
  font-size: var(--token-HTLjcjacRsT5);
  min-width: 0;
}
.link__luF4T {
  color: var(--token-NQ6qYEoxiV_E);
  text-decoration-line: underline;
}
.text__kwtN4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-NQ6qYEoxiV_E);
  padding-bottom: 0px;
  font-size: var(--token-HTLjcjacRsT5);
  min-width: 0;
}
.link__rShA {
  color: var(--token-NQ6qYEoxiV_E);
  text-decoration-line: underline;
}
.text__dfLm7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-NQ6qYEoxiV_E);
  font-size: var(--token-HTLjcjacRsT5);
  min-width: 0;
}
.text__cvMPi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-NQ6qYEoxiV_E);
  font-size: var(--token-HTLjcjacRsT5);
  min-width: 0;
}
.link__dNapR {
  color: var(--token-NQ6qYEoxiV_E);
  text-decoration-line: underline;
}
.text__itVhq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-NQ6qYEoxiV_E);
  font-size: var(--token-HTLjcjacRsT5);
  min-width: 0;
}
.text__uuXCc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-NQ6qYEoxiV_E);
  font-size: var(--token-HTLjcjacRsT5);
  min-width: 0;
}
.text__fvTme {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-NQ6qYEoxiV_E);
  font-size: var(--token-HTLjcjacRsT5);
  min-width: 0;
}
.text__g8S4K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-NQ6qYEoxiV_E);
  font-size: var(--token-HTLjcjacRsT5);
  min-width: 0;
}
.text__o5GNs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-NQ6qYEoxiV_E);
  font-size: var(--token-HTLjcjacRsT5);
  min-width: 0;
}
.text___78LZj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-NQ6qYEoxiV_E);
  font-size: var(--token-HTLjcjacRsT5);
  min-width: 0;
}
.cmsDataFetcher__n4XG9:global(.__wab_instance) {
  width: 100%;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.freeBox__lMqBz {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px;
  margin: 16px 0px 0px;
  border-top: 1px solid var(--token--j9gwRvJXNZe);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lMqBz {
    display: none;
  }
}
.freeBox__aeFbU {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.footerLinksGroup__mjfz2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-bottom: 8px;
}
.footerLinksGroup___7V44F:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__bMyM4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.footerLinksGroup__bVuvb:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.footerLinksGroup___8Kmxn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__mDtYr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.footerLinksGroup__nttNn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__v8P3R {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.footerLinksGroup__wgJSy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.footerLinksGroup__eEhv4:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.footerLinksGroup__iXewe:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.footerLinksGroup__gIpYj:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__mLqW4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.footerLinksGroup__fn3Ku:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.footerLinksGroup__aqaFg:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__uObr {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uObr {
    display: flex;
  }
}
.footerLinksGroupMobile:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__rD6B1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__ofYt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 8px;
  color: var(--token-NQ6qYEoxiV_E);
  font-size: var(--token-HTLjcjacRsT5);
  min-width: 0;
  border-bottom: 1px solid var(--token--j9gwRvJXNZe);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ofYt {
    border-bottom-width: 0px;
  }
}
.link__fRsI {
  text-decoration-line: underline;
}
.link__e3WkV {
  text-decoration-line: underline;
}
.freeBox__f0Y3R {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__f0Y3R {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}
.freeBox__pw87I {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__pw87I > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__pw87I > :global(.__wab_flex-container) > *,
.freeBox__pw87I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pw87I > :global(.__wab_flex-container) > picture > img,
.freeBox__pw87I
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pw87I {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pw87I > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pw87I > :global(.__wab_flex-container) > *,
  .freeBox__pw87I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__pw87I > :global(.__wab_flex-container) > picture > img,
  .freeBox__pw87I
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.text__h4Doy {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  white-space: pre;
  margin-right: 16px;
  color: var(--token-NQ6qYEoxiV_E);
  font-size: var(--token-HTLjcjacRsT5);
}
.text___7Ozva {
  font-size: var(--token-HTLjcjacRsT5);
  color: var(--token-NQ6qYEoxiV_E);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___7Ozva {
    margin-top: 8px;
  }
}
.link___5UIxp {
  font-size: var(--token-HTLjcjacRsT5);
  color: var(--token-NQ6qYEoxiV_E);
}
.link__aCuwg {
  font-size: var(--token-HTLjcjacRsT5);
  color: var(--token-NQ6qYEoxiV_E);
}
.link__xDiWx {
  font-size: var(--token-HTLjcjacRsT5);
  color: var(--token-NQ6qYEoxiV_E);
}
.link__wLfzg {
  font-size: var(--token-HTLjcjacRsT5);
  color: var(--token-NQ6qYEoxiV_E);
}
.link__yaEf {
  font-size: var(--token-HTLjcjacRsT5);
  color: var(--token-NQ6qYEoxiV_E);
}
.text__fvQj9 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  white-space: pre;
  color: var(--token-NQ6qYEoxiV_E);
  font-size: var(--token-HTLjcjacRsT5);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__fvQj9 {
    display: none;
  }
}
.frame12 {
  background: rgba(8, 8, 8, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.039);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  width: 903px;
  height: 393px;
  display: flex;
  flex-direction: row;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
}
.frame12 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.frame12 > :global(.__wab_flex-container) > *,
.frame12 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame12 > :global(.__wab_flex-container) > picture > img,
.frame12
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.frame11 {
  background: rgba(247, 247, 247, 0);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 266px;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: column;
  flex-shrink: 0;
  padding: 56px 16px 16px;
}
.frame11 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.frame11 > :global(.__wab_flex-container) > *,
.frame11 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame11 > :global(.__wab_flex-container) > picture > img,
.frame11
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.text__uBitL {
  display: block;
  font-size: 34px;
  text-align: center;
  font-family: "Noi Grotesk Trial";
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.frame1261152960 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.frame1261152960 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.frame1261152960 > :global(.__wab_flex-container) > *,
.frame1261152960 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame1261152960 > :global(.__wab_flex-container) > picture > img,
.frame1261152960
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.frame1261152958 {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: inset 0px 0px 0px 1px rgba(255, 122, 0, 1);
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  border-radius: 10px;
  padding: 16px;
}
.frame1261152958 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.frame1261152958 > :global(.__wab_flex-container) > *,
.frame1261152958 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame1261152958 > :global(.__wab_flex-container) > picture > img,
.frame1261152958
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.text___3CByp {
  display: block;
  font-size: 15px;
  font-family: "Noi Grotesk Trial";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.freeBox___31Asw {
  display: block;
  position: relative;
  width: 2px;
  height: 20px;
  flex-shrink: 0;
}
.rectangle2 {
  background: rgba(255, 122, 0, 1);
  transform: scale(1, -1) rotate(-180deg);
  width: 2px;
  height: 20px;
  display: block;
  transform-origin: top left;
  position: absolute;
  left: 2px;
  top: 0px;
  border-radius: 33px;
}
.frame1261152959 {
  background: rgba(255, 255, 255, 0.1);
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  border-radius: 10px;
  padding: 16px;
}
.frame1261152959 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.frame1261152959 > :global(.__wab_flex-container) > *,
.frame1261152959 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame1261152959 > :global(.__wab_flex-container) > picture > img,
.frame1261152959
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.text__xEiNc {
  display: block;
  font-size: 15px;
  font-family: "Noi Grotesk Trial";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.frame1261152961 {
  background: rgba(255, 255, 255, 0.1);
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  border-radius: 10px;
  padding: 16px;
}
.frame1261152961 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.frame1261152961 > :global(.__wab_flex-container) > *,
.frame1261152961 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame1261152961 > :global(.__wab_flex-container) > picture > img,
.frame1261152961
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.text__qvkur {
  display: block;
  font-size: 15px;
  font-family: "Noi Grotesk Trial";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.frame1261152962 {
  background: rgba(255, 255, 255, 0.1);
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  border-radius: 10px;
  padding: 16px;
}
.frame1261152962 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.frame1261152962 > :global(.__wab_flex-container) > *,
.frame1261152962 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame1261152962 > :global(.__wab_flex-container) > picture > img,
.frame1261152962
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.text__udGn3 {
  display: block;
  font-size: 15px;
  font-family: "Noi Grotesk Trial";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.frame13 {
  background: rgba(247, 247, 247, 0.1);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  overflow: hidden;
  flex-direction: column;
  padding: 24px;
}
.frame13 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.frame13 > :global(.__wab_flex-container) > *,
.frame13 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame13 > :global(.__wab_flex-container) > picture > img,
.frame13
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.frame1261152963 {
  background: rgba(255, 255, 255, 1);
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  transition-property: color;
  transition-duration: 1s;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  -webkit-transition-property: color;
  -webkit-transition-duration: 1s;
  border-radius: 10px;
  padding: 24px;
}
.frame1261152963 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.frame1261152963 > :global(.__wab_flex-container) > *,
.frame1261152963 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame1261152963 > :global(.__wab_flex-container) > picture > img,
.frame1261152963
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.text__enKjv {
  display: block;
  font-size: 15px;
  font-family: "Noi Grotesk Trial";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(0, 0, 0, 1);
  position: relative;
  width: 389px;
  flex-shrink: 0;
}
.frame1261152964 {
  background: rgba(12, 213, 111, 1);
  width: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  border-radius: 100px;
  padding: 9px 16px;
}
.frame1261152964 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.frame1261152964 > :global(.__wab_flex-container) > *,
.frame1261152964 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame1261152964 > :global(.__wab_flex-container) > picture > img,
.frame1261152964
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.text__x9Qf {
  display: block;
  font-size: 15px;
  text-align: right;
  font-family: "Noi Grotesk Trial";
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.frame1261152965 {
  background: rgba(0, 0, 0, 0.18);
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  overflow: hidden;
  flex-direction: column;
  border-radius: 10px;
  padding: 24px;
}
.frame1261152965 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.frame1261152965 > :global(.__wab_flex-container) > *,
.frame1261152965 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame1261152965 > :global(.__wab_flex-container) > picture > img,
.frame1261152965
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.svg__kqSz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ff7a00;
  width: 28px;
  height: 28px;
  display: block;
  flex-shrink: 0;
}
.text__zlEqe {
  display: block;
  font-size: 13px;
  text-align: center;
  font-family: "Noi Grotesk Trial";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 18px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
