.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-right: 16px;
  padding-left: 16px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.pricingSection:global(.__wab_instance) {
  position: relative;
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 960px;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  --plsmc-rc-col-gap: 16px;
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.columns {
  --plsmc-rc-col-gap: 0px;
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 20px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__s1T16 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__s1T16 {
    width: 100%;
  }
}
.plan__bZlxH:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__fWdHo {
  font-size: 48px;
}
.freeBox__qxrXw {
  display: flex;
  flex-direction: column;
  position: relative;
}
.freeBox__qxrXw > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__qxrXw > :global(.__wab_flex-container) > *,
.freeBox__qxrXw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qxrXw > :global(.__wab_flex-container) > picture > img,
.freeBox__qxrXw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet__s2IgP:global(.__wab_instance) {
  position: relative;
}
.bullet__yehOz:global(.__wab_instance) {
  position: relative;
}
.bullet__xue9U:global(.__wab_instance) {
  position: relative;
}
.button__pszxT:global(.__wab_instance) {
  position: relative;
}
.svg__kYu9I {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___0ALfs {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__o5OjC {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__o5OjC {
    width: 100%;
  }
}
.plan__qnmTf:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__bAnSl {
  font-size: 48px;
}
.freeBox__iSwb {
  display: flex;
  flex-direction: column;
  position: relative;
}
.freeBox__iSwb > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__iSwb > :global(.__wab_flex-container) > *,
.freeBox__iSwb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iSwb > :global(.__wab_flex-container) > picture > img,
.freeBox__iSwb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet___5BeNh:global(.__wab_instance) {
  position: relative;
}
.bullet__dEkyv:global(.__wab_instance) {
  position: relative;
}
.bullet__kjfmX:global(.__wab_instance) {
  position: relative;
}
.bullet__pYA:global(.__wab_instance) {
  position: relative;
}
.button__vI0R:global(.__wab_instance) {
  position: relative;
}
.svg__jizfH {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__sQqBy {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__pIlBw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__pIlBw {
    width: 100%;
  }
}
.plan__hPgQ:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__xFx8 {
  font-size: 48px;
}
.freeBox__unmwX {
  display: flex;
  flex-direction: column;
  position: relative;
}
.freeBox__unmwX > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__unmwX > :global(.__wab_flex-container) > *,
.freeBox__unmwX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__unmwX > :global(.__wab_flex-container) > picture > img,
.freeBox__unmwX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet__puti8:global(.__wab_instance) {
  position: relative;
}
.bullet__ilQsz:global(.__wab_instance) {
  position: relative;
}
.bullet__xAwxI:global(.__wab_instance) {
  position: relative;
}
.button__u3ImL:global(.__wab_instance) {
  position: relative;
}
.svg__e4MaT {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__ynCkw {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.faqSection:global(.__wab_instance) {
  position: relative;
}
.freeBox___964RO {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___964RO > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox___964RO > :global(.__wab_flex-container) > *,
.freeBox___964RO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___964RO > :global(.__wab_flex-container) > picture > img,
.freeBox___964RO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.faq___0XBxv:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.faq__cmXpT:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
