.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 320px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.section:global(.__wab_instance) {
  position: relative;
}
.freeBox___30OSa {
  width: 100%;
  height: auto;
  max-width: var(--token-O4A3EN0-K8kk);
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.freeBox___30OSa > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox___30OSa > :global(.__wab_flex-container) > *,
.freeBox___30OSa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___30OSa > :global(.__wab_flex-container) > picture > img,
.freeBox___30OSa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.columns___1Vbrl {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns___1Vbrl > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  --plsmc-rc-col-gap: 32px;
}
.columns___1Vbrl > :global(.__wab_flex-container) > *,
.columns___1Vbrl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___1Vbrl > :global(.__wab_flex-container) > picture > img,
.columns___1Vbrl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.columns___1Vbrl {
  --plsmc-rc-col-gap: 0px;
}
.columns___1Vbrl > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns___1Vbrl > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 320px) {
  .columns___1Vbrl {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 320px) {
  .columns___1Vbrl > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 320px) {
  .columns___1Vbrl > :global(.__wab_flex-container) > *,
  .columns___1Vbrl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns___1Vbrl > :global(.__wab_flex-container) > picture > img,
  .columns___1Vbrl
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
@media (min-width: 0px) and (max-width: 320px) {
  .columns___1Vbrl > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__cJvVq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 320px) {
  .column__cJvVq {
    width: 100%;
  }
}
.freeBox__nDhze {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__nDhze > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__nDhze > :global(.__wab_flex-container) > *,
.freeBox__nDhze > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nDhze > :global(.__wab_flex-container) > picture > img,
.freeBox__nDhze
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 320px) {
  .freeBox__nDhze {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 320px) {
  .freeBox__nDhze > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__bz6VR {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
  text-align: left;
}
.text__eS8G {
  position: relative;
  text-align: left;
}
.bullet__wr8Ds:global(.__wab_instance) {
  position: relative;
}
.bullet___1IXDd:global(.__wab_instance) {
  position: relative;
}
.bullet__eyycS:global(.__wab_instance) {
  position: relative;
}
.text__b0BaY {
  position: relative;
  text-align: left;
}
.freeBox__woAo {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: calc(16px + 12px) !important;
}
.freeBox__woAo > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__woAo > :global(.__wab_flex-container) > *,
.freeBox__woAo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__woAo > :global(.__wab_flex-container) > picture > img,
.freeBox__woAo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 320px) {
  .freeBox__woAo {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 320px) {
  .freeBox__woAo > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 320px) {
  .freeBox__woAo > :global(.__wab_flex-container) > *,
  .freeBox__woAo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__woAo > :global(.__wab_flex-container) > picture > img,
  .freeBox__woAo
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button___6LiZg:global(.__wab_instance) {
  position: relative;
}
.svg__bY4An {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___4Vyk {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__ilaUu:global(.__wab_instance) {
  position: relative;
}
.svg__vcqxx {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__vsuwi {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__uzIId {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 320px) {
  .column__uzIId {
    width: 100%;
  }
}
.img__dVX {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__dVX > picture > img {
  object-fit: cover;
}
.columns__vNTfh {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns__vNTfh > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  --plsmc-rc-col-gap: 32px;
}
.columns__vNTfh > :global(.__wab_flex-container) > *,
.columns__vNTfh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__vNTfh > :global(.__wab_flex-container) > picture > img,
.columns__vNTfh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.columns__vNTfh {
  --plsmc-rc-col-gap: 0px;
}
.columns__vNTfh > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__vNTfh > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 320px) {
  .columns__vNTfh {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 320px) {
  .columns__vNTfh > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 320px) {
  .columns__vNTfh > :global(.__wab_flex-container) > *,
  .columns__vNTfh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__vNTfh > :global(.__wab_flex-container) > picture > img,
  .columns__vNTfh
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
@media (min-width: 0px) and (max-width: 320px) {
  .columns__vNTfh > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__uXTf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 320px) {
  .column__uXTf {
    width: 100%;
  }
}
.img__yiPGx {
  position: relative;
  object-fit: cover;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
}
.img__yiPGx > picture > img {
  object-fit: cover;
}
.column__em19C {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 320px) {
  .column__em19C {
    width: 100%;
  }
}
.freeBox__cEdF {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__cEdF > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__cEdF > :global(.__wab_flex-container) > *,
.freeBox__cEdF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cEdF > :global(.__wab_flex-container) > picture > img,
.freeBox__cEdF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 320px) {
  .freeBox__cEdF {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 320px) {
  .freeBox__cEdF > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__fnuqa {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
  text-align: left;
}
.text___3Nwd3 {
  position: relative;
  text-align: left;
}
.bullet___85UAz:global(.__wab_instance) {
  position: relative;
}
.bullet__x0VCo:global(.__wab_instance) {
  position: relative;
}
.bullet__bv3Ac:global(.__wab_instance) {
  position: relative;
}
.text__s6Hya {
  position: relative;
  text-align: left;
}
.freeBox__zAbUi {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: calc(16px + 12px) !important;
}
.freeBox__zAbUi > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__zAbUi > :global(.__wab_flex-container) > *,
.freeBox__zAbUi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zAbUi > :global(.__wab_flex-container) > picture > img,
.freeBox__zAbUi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 320px) {
  .freeBox__zAbUi {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 320px) {
  .freeBox__zAbUi > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 320px) {
  .freeBox__zAbUi > :global(.__wab_flex-container) > *,
  .freeBox__zAbUi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__zAbUi > :global(.__wab_flex-container) > picture > img,
  .freeBox__zAbUi
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button__v0Du6:global(.__wab_instance) {
  position: relative;
}
.svg__eYot6 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__u0ACq {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__go8Yh:global(.__wab_instance) {
  position: relative;
}
.svg__hqxoT {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__wnSJi {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
