.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: var(--token-ohfB_j40b5UJ);
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 320px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 320px) {
  .root > :global(.__wab_flex-container) {
    min-width: 0;
    min-height: 0;
  }
}
.nav:global(.__wab_instance) {
  position: sticky;
  left: 0px;
  top: 0px;
  z-index: 1;
}
.topSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__ut3Qc {
  width: 100%;
  height: auto;
  max-width: var(--token-O4A3EN0-K8kk);
  display: flex;
  position: relative;
  flex-direction: column;
  min-width: 0;
}
.freeBox__ut3Qc > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__ut3Qc > :global(.__wab_flex-container) > *,
.freeBox__ut3Qc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ut3Qc > :global(.__wab_flex-container) > picture > img,
.freeBox__ut3Qc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 320px) {
  .freeBox__ut3Qc {
    width: 100%;
    height: auto;
    max-width: var(--token-O4A3EN0-K8kk);
    display: flex;
    position: relative;
    flex-direction: column;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 320px) {
  .freeBox__ut3Qc > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 320px) {
  .freeBox__ut3Qc > :global(.__wab_flex-container) > *,
  .freeBox__ut3Qc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ut3Qc > :global(.__wab_flex-container) > picture > img,
  .freeBox__ut3Qc
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__mCip2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.freeBox__mCip2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__mCip2 > :global(.__wab_flex-container) > *,
.freeBox__mCip2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mCip2 > :global(.__wab_flex-container) > picture > img,
.freeBox__mCip2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 320px) {
  .freeBox__mCip2 {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 320px) {
  .freeBox__mCip2 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 320px) {
  .freeBox__mCip2 > :global(.__wab_flex-container) > *,
  .freeBox__mCip2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__mCip2 > :global(.__wab_flex-container) > picture > img,
  .freeBox__mCip2
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__cc0XP {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__gBgpB {
  font-size: 96px;
  font-weight: 500;
  text-align: center;
  line-height: 1;
  color: var(--token-NEon4Y--Z);
  font-family: var(--Noi Grotesk Trial);
}
@media (min-width: 0px) and (max-width: 320px) {
  .text__gBgpB {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: var(--token-NEon4Y--Z);
  }
}
.freeBox___7YCeM {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___7YCeM > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox___7YCeM > :global(.__wab_flex-container) > *,
.freeBox___7YCeM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7YCeM > :global(.__wab_flex-container) > picture > img,
.freeBox___7YCeM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.button__w4TbZ:global(.__wab_instance) {
  position: relative;
}
.svg__kyIpi {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__k5Bkx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__sM03C:global(.__wab_instance) {
  position: relative;
}
.svg__jOz2K {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__tK7V {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__exhP3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.img___9QcIj {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img___9QcIj > picture > img {
  object-fit: cover;
}
.solutions:global(.__wab_instance) {
  position: relative;
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  --plsmc-rc-col-gap: 32px;
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.columns {
  --plsmc-rc-col-gap: 0px;
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 320px) {
  .columns {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 320px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    --plsmc-rc-col-gap: 0px;
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 320px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
@media (min-width: 0px) and (max-width: 320px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__yGw4O {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 320px) {
  .column__yGw4O {
    width: 100%;
  }
}
.freeBox__t54IZ {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__t54IZ > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__t54IZ > :global(.__wab_flex-container) > *,
.freeBox__t54IZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__t54IZ > :global(.__wab_flex-container) > picture > img,
.freeBox__t54IZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 320px) {
  .freeBox__t54IZ {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 320px) {
  .freeBox__t54IZ > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__rz5Vv {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
}
.text__zZ9Wz {
  position: relative;
  color: var(--token-jBhCqxBbh1U);
}
.featureCard__kb7Zg:global(.__wab_instance) {
  position: relative;
}
.svg__oqAl {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__tZ3G {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__ox0W2:global(.__wab_instance) {
  position: relative;
}
.svg__iGuAb {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__q4WPd {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__dvp2A:global(.__wab_instance) {
  position: relative;
}
.svg___97Qpx {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg___78Qs {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.column__jcoTm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 320px) {
  .column__jcoTm {
    width: 100%;
  }
}
.img__ifPxx {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__ifPxx > picture > img {
  object-fit: cover;
}
.howItWorks:global(.__wab_instance) {
  position: relative;
}
.freeBox___8LE3B {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox___8LE3B > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox___8LE3B > :global(.__wab_flex-container) > *,
.freeBox___8LE3B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8LE3B > :global(.__wab_flex-container) > picture > img,
.freeBox___8LE3B
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
.featureCard__qd2P9:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__zF4Q1 {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token--dqXfxzlShWn);
}
.svg__fvr0B {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__gMo3J:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__sjPDt {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token--dqXfxzlShWn);
}
.svg__nMrG6 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__mttjO:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__tb5Dk {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token--dqXfxzlShWn);
}
.svg___4BALn {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__ssL1C:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__r369 {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token--dqXfxzlShWn);
}
.svg__uprJk {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__x4FJu:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___5QzNr {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token--dqXfxzlShWn);
}
.svg__aeD7W {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__kg8Su:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___48G0F {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token--dqXfxzlShWn);
}
.svg__y1Tjw {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.freeBox__dUsop {
  display: block;
  position: absolute;
  left: 50%;
  top: auto;
  width: 2px;
  height: 77px;
  bottom: -88px;
  border: 1px solid var(--token-GMNKWhj5-0Ra);
}
.validation:global(.__wab_instance) {
  position: relative;
}
.freeBox__qWaY {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__qWaY > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__qWaY > :global(.__wab_flex-container) > *,
.freeBox__qWaY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qWaY > :global(.__wab_flex-container) > picture > img,
.freeBox__qWaY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__z59L4 {
  display: flex;
  flex-direction: row;
}
.freeBox__z59L4 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__z59L4 > :global(.__wab_flex-container) > *,
.freeBox__z59L4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__z59L4 > :global(.__wab_flex-container) > picture > img,
.freeBox__z59L4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
  margin-top: 24px;
}
.svg__cDhz5 {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 24px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__dFJrv {
  position: relative;
  object-fit: cover;
  width: 83px;
  height: 30px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__iAmP {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 39px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__vh0A {
  position: relative;
  object-fit: cover;
  width: 113px;
  height: 30px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__rqMoN {
  position: relative;
  object-fit: cover;
  width: 109px;
  height: 33px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.testimonial:global(.__wab_instance) {
  position: relative;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
